<h2>Open Orders</h2>
<table>
  <tr>
    <th>Order Id</th>
    <th>Product
    <th>Price
    <th>Customer</th>  
  </tr>
  <% if @orders.length == 0 %>
    No Orders
  <% else %>
    <%= render @orders %>
  <% end %>
</table>
